*{
    margin: 0;;
    padding: 0;
    box-sizing: border-box; 
}
h1{
    text-align: center;
}
.body{
    display: flex;
    justify-content: space-evenly;
}
.box-1,.box-2,.box-3{
    flex: 1;
    background-color: orange;
    height: 1200px;
    padding: 0.5em;
    margin: 0.5em;
}

.rectangle,.square{
    background-color: #00edff;
    padding: 0.5em;
}

.box-1{
    display: flex;  
}
.box-2{
    display:flex;
    flex-direction: column;
}
.box-3{
    display: flex;
    flex-wrap: wrap;
}
.box-1>.rectangle{
    flex: 1;
    height: 100%;
    margin-left: 0.25em;
    margin-right: 0.25em;
}
.box-2>.rectangle{
    height: 50%;
    width: 100%;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}
.square{
    flex: 1;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
}
.plus-sign{
    display: flex;
    width: 100%;
}
.scroll-up{
    position: fixed;
    bottom: 1%;
    right: 1%;
    padding: 0.5em;
    color: white;
    background-color: green;
}
@media only screen and (max-width: 768px) {
    .body{
        display: block;
    }
    .box1{
        flex-direction: column;
    }
    .box1>.rec{
        height: 50%;
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }
}